
.howitworks{
    position: relative;
    text-align: center;
    padding: 40px 20px;
  
    overflow:hidden;
   
 
}
.howitworks h2{
    font-size: 40px;
    font-weight: bold;
    color: #222;
  }
  .cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease;

  }
  .svg{
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    
    width: 250px;
    text-align: center;
  }
  
  .svg p{
    font-size: 20px;
    color: #101010;

  }
  .howitworks p{
    font-size: 1.2rem;
    color: #ff5a5f;
    margin: 10px 0 40px;
  }
  .picture {
    position: absolute;
    top: -20px;
    right: -20px;
    overflow:hidden;
   
    
  }
  
  .picture img{
    width: 300px; 
    height:250px;
    border-radius: 50%;
    margin-right:-60px;
    margin-top: -50px;
    
  }